<!DOCTYPE HTML>
<html>
	<head>
		<title>If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	</head>
	<body>
	
	<div id="app">
        <div style="border: 1px solid black; padding: 25px;">
            <span v-if="profile.pic">
                <img v-bind:src="profile.pic" alt="Profile pic" style="width: 200px;">
            </span>
            <span v-else>
                No pic available.
            </span>
            
            <br/>
            <span v-if="profile">
                Profile of {{profile.fname}} {{profile.lname}} 
            </span>
            <span v-else>
                No Profile Data found.
            </span>
            <br/>
            <span v-if='profile.desc'>
                {{profile.desc}}
            </span>
            <span v-else>
                No desc available.
            </span>
            <br/>
            <span v-if='profile.bio'>
                {{profile.bio}}
            </span>
            <span v-else>
                No bio available.
            </span>

        </div>
		
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		
		data:{
			
			profile:{
				fname: "Braydon",
				lname: "Viragh",
                desc: 'Not much to describe here',
                bio: 'Coder located out of Toronto, ON Canada',
                pic: 'https://st2.depositphotos.com/3369547/11378/v/950/depositphotos_113787590-stock-illustration-man-design-male-avatar-icon.jpg'
			}
			
		}
		
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>